<div id="<%= dom_id book %>">
  <p>
    <strong>Mahs 263:</strong>
    <%= book.mahs_263 %>
  </p>

  <p>
    <strong>Hoten 263:</strong>
    <%= book.hoten_263 %>
  </p>

  <p>
    <strong>Lop 263:</strong>
    <%= book.lop_263 %>
  </p>

  <p>
    <strong>Masanh 263:</strong>
    <%= book.masanh_263 %>
  </p>

  <p>
    <strong>Tensach 263:</strong>
    <%= book.tensach_263 %>
  </p>

  <p>
    <strong>Tentacgia 263:</strong>
    <%= book.tentacgia_263 %>
  </p>

  <p>
    <strong>Sobm 263:</strong>
    <%= book.soBM_263 %>
  </p>

  <p>
    <strong>Ngaymuon 263:</strong>
    <%= book.ngaymuon_263 %>
  </p>

  <p>
    <strong>Ngaytra 263:</strong>
    <%= book.ngaytra_263 %>
  </p>

  <p>
    <strong>Ghichu 263:</strong>
    <%= book.ghichu_263 %>
  </p>

</div>
